### 4.6 (1) - (2) Concatenate & Merging<br>
ords and ords_prior files

### Concatenate Data (also 'Setting data' in SAS)
    (Concatenate when both df's have multiple rows, but same columns)
    
### Start by creating dictionaries from the data for the months of January and February via the following code:

In [5]:
# Define a dictionary containing January 2020 data
data1 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'purchased_meat':[0, 13, 3, 4],
    'purchased_alcohol':[1, 2, 10, 0],
    'purchased_snacks':[10, 5, 1, 7]}

In [6]:
# Define a dictionary containing February 2020 data
data2 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
    'purchased_meat':[0, 10, 5, 3],
    'purchased_alcohol':[2, 4, 14, 0],
    'purchased_snacks':[15, 3, 2, 6]}

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os as os

### Create dataframes out of the two dictionaries just created and check the output.
    df = pd.dataFrame(data, index= [0,1,2,3])
    #name of object and index go in ()
    #Note: axis = 0 (df on df rows verticle), axis =1 is df's side by side wide 
    df_concat = pd.concat(frames, axis = 1)

In [8]:
#Convert the dictionary into dataframe
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0, 1, 2, 3])

In [9]:
df

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7

### Concatenate data1(df) & data2 (df_1) by setting up frames with both df's, then concatenate frames
    frames =[df, df_1]
    df_concat = pd.concat(frames)

In [10]:
frames = [df, df_1]
df_concat = pd.concat(frames)

In [11]:
df_concat

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

### Joining Data
    df.join()
    #used when index carries information

### Merging Data
    df.merge()
    df_merged = df.merge(df_2, on = 'customer_id', month_id)  #Note (customer_id, month_id are keys)
    #best for combining df's with different shapes.

### Enter path and import orders_wrangled and order_products_prior files

In [2]:
path = r'/Users/margoshogren/Desktop/1 Margo-CF Folder/4 Python/4-2023 Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(os.path.join(path,'2 Data','prepared data','orders_wrangled.csv'),index_col = False)

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path,'2 Data','original data','order_products_prior.csv'),index_col = False)

### Consistency checks of df_ords_prior

In [6]:
#look for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [8]:
#Check for duplicates
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [9]:
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### Check dimensions of order_products_prior and ords

In [15]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 8)

### Check top 5 rows of data

In [17]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [19]:
# key field for both df's is 'order_id'

### Merge df_ords_wrangled with df_ords_prior w/indicator of match, (inner join is default)

In [10]:
df_merged_large = df_ords.merge(df_ords_prior, on= 'order_id', indicator = True)

### Check frequency count to see if there is a full match

In [21]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

#### All the rows of ord_prior are matched with ords as 'both'

In [22]:
df_merged_large_otr = df_ords.merge(df_ords_prior, on= 'order_id', how = 'outer', indicator = True)

In [23]:
df_merged_large_otr['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

#### Outer join shows we don't have a full match due to the left only records

### Question(2) export file as pickle

In [24]:
df_merged_large.to_pickle(os.path.join(path,'2 Data','original data','order_products_combined.pkl'))

#### End of notebook